.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mat-dialog-title .mat-dialog-content {
    font-size: 50px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon i {
    font-size: 80px;
    color: #d33;
}

.mat-dialog-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

button {
    flex: 1 1;
}